html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto Mono', monospace;
    max-width: 95%;
    margin: auto;
    text-align: center;
}

.nav {
    display: flex;
    flex-wrap: wrap;
}

.nav > a {
    font-size: 14px;
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 15px;
    width: 90px;

    margin: auto;
    padding: 3%;
    border-radius: 20px;
}

.title {
    margin: 50px;
    padding-left: 5%;
    padding-right: 5%;
}

.title-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 93%;
    margin: auto;
    padding: 20px;
}

.title-container div {
    padding: 10px;
}

.title-container img {
    width: 210px;
    height: 210px;
    border-radius: 20rem;
}

.image-box {
    flex:1;
}

.content-box {
    flex:2;
    display: flex;
    align-items: inherit;
    flex-direction: column;
    
    text-align: center;
    padding: 50px;
    
}

.content-box h1 {
    font-family: 'Chelsea Market', cursive;
    width: 600px;
}

.content-box h2 {
    font-size: 14px;
    width: 300px;
}

.content-box p {
    font-size: 14px;
    width: 270px;
}

.main-text {
    color: white;
    margin: 0.9rem;
    padding-top: 0.4rem;
    padding-right: 1rem;
    padding-bottom: 0.8rem;
    padding-left: 1rem;
    background-color: #DDB9A3;
}

.main-text2 {
    text-align: center;
    max-width: 30%;
    margin: auto;
    margin-bottom: 4rem;
}

.main-text2 img {
    width: 9rem;
}

.footer {
    width: 95%;
    margin: auto;
    background-color: #F9E7DC;
}

.footer img {
    height: 12rem;
    width: 100%;
}

#plan {
    background-color: #FF764E;
}

#learn {
    background-color: #5ED3EB;
}

#involve {
    background-color: #FFCD69;
}